<?xml version="1.0" ?>
<config>
    <modules>
        <Vmasciotta_Cprosp>
            <version>1.0.0</version>
        </Vmasciotta_Cprosp>
    </modules>
    <global>
        <models>
            <catalogrule>
                <rewrite>
                    <action_index_refresh>Vmasciotta_Cprosp_Model_CatalogRule_Action_Index_Refresh</action_index_refresh>
                </rewrite>
            </catalogrule>
        </models>
    </global>
</config>
