<?xml version="1.0" ?>
<config>
    <modules>
        <Vmasciotta_Cprosp>
            <version>1.0.0</version>
        </Vmasciotta_Cprosp>
    </modules>
    <global>
        <models>
            <catalogrule_resource>
                <rewrite>
                    <rule>Vmasciotta_Cprosp_Model_Catalogrule_Resource_Rule</rule>
                </rewrite>
            </catalogrule_resource>
        </models>
    </global>
</config>
